<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACePjreIhtmM7GTqDYWZkxuhIfOINsPnU</string>
	<key>GCM_SENDER_ID</key>
	<string>486486518113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iteraMonitoringAc</string>
	<key>PROJECT_ID</key>
	<string>ac-itera</string>
	<key>STORAGE_BUCKET</key>
	<string>ac-itera.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486486518113:ios:316dcc87058d54331afd20</string>
	<key>DATABASE_URL</key>
	<string>https://ac-itera-default-rtdb.firebaseio.com</string>
</dict>
</plist>